<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>

  <title>Other</title>

  <div class="container1">
    <header>
        
        <nav class="bg-white border-gray-200 px-4 lg:px-6 py-2.5 dark:bg-indigo-900">
            <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
                <a href="https://flowbite.com" class="flex items-center">
                    <svg width="68px" height="68px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 297 297" style="enable-background:new 0 0 297 297;" xml:space="preserve">
<g>
	<g>
		<g>
			<circle style="fill:#F86E51;" cx="148.5" cy="148.5" r="148.5"/>
		</g>
	</g>
	<path style="fill:#E04332;" d="M296.593,137.491l-76.76-76.76L54.406,222.446l73.04,73.061c6.879,0.977,13.906,1.493,21.054,1.493
		c82.014,0,148.5-66.486,148.5-148.5C297,144.797,296.86,141.126,296.593,137.491z"/>
	<g>
		<path style="fill:#662621;" d="M214.5,66c-26.833-28.5-79.333-23.5-84.403,17.675c-5.675,46.094-27.818,58.816-62.256,72.462
			c-36.938,14.636-26.931,81.915,46.539,77.769C210.167,228.5,294.978,151.478,214.5,66z"/>
		<path style="fill:#935733;" d="M107.892,241.592c-42.398,0-62.769-23.197-67.339-43.942c-4.624-20.993,5.461-40.931,24.525-48.485
			c32.313-12.803,52.313-23.661,57.576-66.406c2.359-19.169,14.063-33.553,32.111-39.461c22.248-7.279,48.447-0.226,65.195,17.562
			c40.325,42.831,37.762,79.469,28.509,102.662c-8.56,21.458-26.357,40.305-51.468,54.501c-23.736,13.42-52.929,21.72-82.199,23.372
			C112.439,241.526,110.132,241.592,107.892,241.592z M172.7,55.498c-4.545,0-9.03,0.667-13.268,2.055
			c-12.473,4.083-20.247,13.686-21.892,27.038c-2.887,23.445-10.022,40.211-22.458,52.762
			c-11.046,11.149-25.209,18.121-44.479,25.757c-14.168,5.614-17.944,19.772-15.401,31.313
			c3.543,16.089,21.068,34.137,58.755,31.994c56.183-3.17,105.767-31.32,120.581-68.455c10.95-27.45,2.133-57.473-25.499-86.82
			C199.632,61.149,185.925,55.498,172.7,55.498z"/>
	</g>
	<g>
		<path style="fill:#591F1C;" d="M214.5,66c-18.079-19.202-47.808-23.194-66.833-11.163v174.244
			C227.924,210.151,285.455,141.363,214.5,66z"/>
		<path style="fill:#7C4529;" d="M219.961,60.858c-16.748-17.787-42.947-24.841-65.195-17.562c-2.494,0.817-4.854,1.811-7.099,2.941
			v17.967c3.243-2.902,7.184-5.153,11.766-6.652c4.237-1.388,8.723-2.055,13.268-2.055c13.225,0,26.932,5.651,36.339,15.644
			c27.632,29.348,36.449,59.37,25.499,86.82c-11.755,29.465-45.408,53.259-86.871,63.42v15.369
			c17.693-4.018,34.57-10.381,49.335-18.729c25.11-14.196,42.908-33.043,51.468-54.501
			C257.723,140.327,260.286,103.689,219.961,60.858z"/>
	</g>
	<g>
		<circle style="fill:#E8A89E;" cx="179.29" cy="107.047" r="18.997"/>
	</g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g></svg>
                    <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"> Pork Station</span>
                </a>
                <div class="flex items-center lg:order-2">
             
                    <button data-collapse-toggle="mobile-menu-2" type="button" class="inline-flex items-center p-2 ml-1 text-sm text-gray-500 rounded-lg lg:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="mobile-menu-2" aria-expanded="false">
                        <span class="sr-only">Open main menu</span>
                        <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
                        <svg class="hidden w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    </button>
                </div>
                <div class="hidden justify-between items-center w-full lg:flex lg:w-auto lg:order-1" id="mobile-menu-2">
                    <ul class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0">
                       
                       
                        <li>
                            <a href="/index" class=" text-2xl self-auto block py-2 pr-4 pl-3 text-teal-50 border-b border-teal-50 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    
    </header>
    </div>
</head>
<body>
    
    <div class="h-56 grid grid-cols-3 gap-4 content-start flex flex-col items-center justify-center w-screen min-h-screen p-10">
        <%  pork['meals'].forEach(pork => { %>
        
        <div class="block p-6 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100 dark:bg-indigo-900 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"><%= pork.strMeal %></h5>
          
            <p class="font-normal text-gray-700 dark:text-gray-400"> <img class="rounded-t-lg"  src="<%= pork.strMealThumb %>" ></p>
        </div>
        <% }); %>
        
    </div>
</body>
</html>